<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="background">
			<div class="cursor cursor_add"></div>
		</div>
		<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="/js/d3-bboxCollide.js"></script>
		<script src="/js/mindwall.js"></script>
		<script>
			document.ontouchmove = (event) => { event.preventDefault(); }
		</script>
	</body>
</html>